# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development
.env.production

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime files
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# build folders
dist/
build/

# IDE
.vscode/
.idea/

# coverage
coverage/